[submodule "content/themes/ghost-personal-blog-theme"]
path = content/themes/ghost-personal-blog-theme
url = https://github.com/prashannth/ghost-personal-blog-theme
[submodule "content/storage/ghost-cloudinary-store"]
path = content/storage/ghost-cloudinary-store
url = https://github.com/sethbrasile/ghost-cloudinary-store
